* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.home{
    height: 100vh;
    background-color: blue;
}
.container {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
}
.active {
    background-color: white;
    color: black;
}
.sampul{
    height: 100vh;
    background: rgb(2, 192, 169);
    background: linear-gradient(130deg, rgba(2,192,169,1) 10%, rgba(33,137,166,1)100%);
    background-size: cover;
    position: relative;
}
.sampul2{
    height: 100vh;
    background-image: url('../image/raditya\ dika3.png');
    background-size: cover;
    display: flex;
}
.quotes{
    z-index: 1;
}  
.quotes h1{
    font-size: 30px;
    color:rgb(2, 192, 169); 
    width: 600px;
    font-style: italic;
    margin-top: 40vh;
    margin-left: 120px;
}
.content{
    display: flex;
    
}
.foto img{
    margin-top: 92px;
    width: 500px;
}

#foto {
    margin-left: 10px;
    width: 900px;
}
.quotes{
    display: flex;
}
.paragraf{
    width: 500px;
    height: 700px;
    font-style: normal;
    text-align: justify;
}
.nama{
    margin-top: 200px;
    margin-left: 200px;
    color: white;
}
.nama h1{
    font-size: 50px;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
    font-size: 15px;
    color: white;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #008E97;
    color: white;
}
.banner2 {
    margin-top: 25px;
    height: 80vh;
    background-image: url('../image/beranda.gif');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
footer {
    background-color: #15162B ;
    size: 10px;
    color: white;
    margin-top: 25px;
}
.sosmed {
    margin: 20px auto;
    padding: 5px 0;
    margin: 0 auto;
    align-items: center;
}
.sosmed ul li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.icon {
    text-align: center;
    padding: 10px;
}
.box {
    /* border: 1px solid; */
    color: #fff;
}
.box:after {
    content: '';
    display: block;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid; */
    text-align: center;
    float: left;
    -webkit-transition: 0.9s ease;
    transition: 1.5s ease;
}
.box .col-3 {
    width: 33%;
    padding: 50px;
    box-sizing: border-box;
    /* border: 1px solid; */
    text-align: center;
    float: left;
    -webkit-transition: 0.9s ease;
    transition: 1.5s ease;
}
